In [1]:
import pandas as pd
import numpy as np
import re
from sklearn.impute import SimpleImputer
fdp = pd.read_csv('fdp-beta-regional-historical.csv')
fdp.head()

                            Variable  Year     ABARES region   Value   RSE
0  AI stud fees and herd testing ($)  1990  NSW Central West    90.0  68.0
1            Accounting services ($)  1990  NSW Central West  2320.0  19.0
2              Advisory services ($)  1990  NSW Central West   120.0  80.0
3         Age of owner manager (yrs)  1990  NSW Central West    57.0   5.0
4                Age of spouse (yrs)  1990  NSW Central West    51.0   4.0

In [2]:
print(pd.unique(fdp['ABARES region']))

['NSW Central West' 'NSW Coastal' 'NSW Far West'
 'NSW North West Slopes and Plains' 'NSW Riverina'
 'NSW Tablelands (Northern Central and Southern)'
 'NT Alice Springs Districts' 'QLD Cape York and the Gulf'
 'QLD Central North' 'QLD Charleville - Longreach'
 'QLD Eastern Darling Downs' 'QLD Northern Coastal - Mackay to Cairns'
 'QLD Southern Coastal - Curtis to Moreton' 'QLD West and South West'
 'QLD Western Downs and Central Highlands' 'SA Eyre Peninsula'
 'SA Murray Lands and Yorke Peninsula' 'SA Northern Pastoral'
 'SA South East' 'TAS Tasmania' 'VIC Central North' 'VIC Mallee'
 'VIC Southern and Eastern Victoria' 'VIC Wimmera'
 'WA Central and Southern Wheat Belt' 'WA Northern and Eastern Wheat Belt'
 'WA Pilbara and Central Pastoral' 'WA South West Coastal'
 'WA The Kimberley' 'NT Barkly Tablelands' 'NT Top End Darwin'
 'NT Victoria River District - Katherine']

In [3]:
pivoted = pd.pivot_table(fdp, index=['ABARES region', 'Year'], columns='Variable', values='Value')
pivoted

Variable               AI stud fees and herd testing ($)  \
ABARES region    Year
NSW Central West 1990                               90.0
                 1991                              310.0
                 1992                               90.0
                 1993                              150.0
                 1994                               90.0
...                                                  ...
WA The Kimberley 2018                             6150.0
                 2019                                0.0
                 2020                                0.0
                 2021                                0.0
                 2022                                0.0

Variable               Accounting services ($)  Advisory services ($)  \
ABARES region    Year
NSW Central West 1990                   2320.0                  120.0
                 1991                   2290.0                  210.0
                 1992                   2790.0                  730.0
                 1993                   2180.0                  280.0
                 1994                   2430.0                  190.0
...                                        ...                    ...
WA The Kimberley 2018                  11550.0                14640.0
                 2019                   8290.0                14920.0
                 2020                   4410.0                29650.0
                 2021                   7300.0                32670.0
                 2022                   4900.0                    0.0

Variable               Age of owner manager (yrs)  Age of spouse (yrs)  \
ABARES region    Year
NSW Central West 1990                        57.0                 51.0
                 1991                        54.0                 51.0
                 1992                        52.0                 49.0
                 1993                        54.0                 50.0
                 1994                        53.0                 49.0
...                                           ...                  ...
WA The Kimberley 2018                         NaN                  NaN
                 2019                         NaN                  NaN
                 2020                         NaN                  NaN
                 2021                         NaN                  NaN
                 2022                         NaN                  NaN

Variable               Agistment ($)  Area operated at 30 June (ha)  \
ABARES region    Year
NSW Central West 1990          290.0                         1132.0
                 1991          370.0                         1054.0
                 1992          250.0                         1061.0
                 1993          430.0                         1018.0
                 1994          310.0                         1065.0
...                              ...                            ...
WA The Kimberley 2018        42280.0                       488457.0
                 2019            0.0                       615790.0
                 2020            0.0                       451519.0
                 2021            0.0                       520690.0
                 2022            0.0                       311732.0

Variable               Barley area sown (ha)  Barley produced (t)  \
ABARES region    Year
NSW Central West 1990                   21.0                 37.0
                 1991                   14.0                 24.0
                 1992                   20.0                 34.0
                 1993                   20.0                 47.0
                 1994                   27.0                 63.0
...                                      ...                  ...
WA The Kimberley 2018                    0.0                  0.0
                 2019                    0.0                  0.0
                 2020                    0.0                  0.0
                 2021                    0.0                  0.0
                 2022                    0.0                  0.0

Variable               Barley receipts ($)  ...  Wages for hired labor ($)  \
ABARES region    Year                       ...
NSW Central West 1990              12760.0  ...                    11910.0
                 1991               4060.0  ...                     9480.0
                 1992               6930.0  ...                    12440.0
                 1993               7800.0  ...                    12240.0
                 1994               9860.0  ...                    10120.0
...                                    ...  ...                        ...
WA The Kimberley 2018                  0.0  ...                   378070.0
                 2019                  0.0  ...                   387640.0
                 2020                  0.0  ...                   451180.0
                 2021                  0.0  ...                   509200.0
                 2022                  0.0  ...                   762300.0

Variable               Water charges ($)  Wethers at 30 June (no.)  \
ABARES region    Year
NSW Central West 1990             1290.0                     430.0
                 1991              900.0                     478.0
                 1992              890.0                     561.0
                 1993             2470.0                     520.0
                 1994             1590.0                     431.0
...                                  ...                       ...
WA The Kimberley 2018                0.0                       0.0
                 2019                0.0                       0.0
                 2020                0.0                       0.0
                 2021                0.0                       0.0
                 2022                0.0                       0.0

Variable               Wheat area sown (ha)  Wheat produced (t)  \
ABARES region    Year
NSW Central West 1990                 107.0               199.0
                 1991                 105.0               214.0
                 1992                  80.0               134.0
                 1993                 101.0               243.0
                 1994                 106.0               304.0
...                                     ...                 ...
WA The Kimberley 2018                   0.0                 0.0
                 2019                   0.0                 0.0
                 2020                   0.0                 0.0
                 2021                   0.0                 0.0
                 2022                   0.0                 0.0

Variable               Wheat receipts ($)  Wheat sold (t)  \
ABARES region    Year
NSW Central West 1990             85060.0           201.0
                 1991             53280.0           191.0
                 1992             50560.0           135.0
                 1993             78890.0           235.0
                 1994             85940.0           269.0
...                                   ...             ...
WA The Kimberley 2018                 0.0             0.0
                 2019                 0.0             0.0
                 2020                 0.0             0.0
                 2021                 0.0             0.0
                 2022                 0.0             0.0

Variable               Wool cut per head (kg)  Wool produced (kg)  \
ABARES region    Year
NSW Central West 1990                     4.6              9783.0
                 1991                     4.8             10288.0
                 1992                     4.5              9734.0
                 1993                     4.5              8955.0
                 1994                     4.2              8038.0
...                                       ...                 ...
WA The Kimberley 2018                     NaN                 0.0
                 2019                     NaN                 0.0
                 2020                     NaN                 0.0
                 2021                     NaN                 0.0
                 2022                     NaN                 0.0

Variable               Wool receipts ($)
ABARES region    Year
NSW Central West 1990           141140.0
                 1991           104640.0
                 1992            76530.0
                 1993            59910.0
                 1994            61800.0
...                                  ...
WA The Kimberley 2018                0.0
                 2019                0.0
                 2020                0.0
                 2021                0.0
                 2022                0.0

[1050 rows x 136 columns]

In [4]:
imputer = SimpleImputer(missing_values=np.NaN, strategy = 'mean')
barley = fdp.loc[(fdp['Variable']=='Barley produced (t)') & (fdp['ABARES region'].str.contains('NSW'))]

barley_imputed = imputer.fit_transform(barley['Value'].values.reshape(-1,1))[:,0]
barley.loc[:, 'Imputed value'] = barley_imputed

display(barley)

hours_worked = fdp.loc[(fdp['Variable']=='Hours worked on farm - total (hrsperwk)') & (fdp['ABARES region'].str.contains('NSW'))]
mimputer = SimpleImputer(missing_values=np.NaN, strategy = 'mean')
hours_imputed = mimputer.fit_transform(hours_worked['Value'].values.reshape(-1,1))[:,0]
hours_worked.loc[:, 'Imputed value'] = hours_imputed
hours_worked['Imputed value'] = hours_worked['Imputed value'].round(1)
display(hours_worked)

/var/folders/ly/fm0kkb6x1b91l8mnvhcy7kg00000gn/T/ipykernel_88915/3771514738.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  barley.loc[:, 'Imputed value'] = barley_imputed

,Variable,Year,ABARES region,Value,RSE,Imputed value
8,Barley produced (t),1990,NSW Central West,37.0,49.0,37.0
144,Barley produced (t),1990,NSW Coastal,0.0,NaN,0.0
280,Barley produced (t),1990,NSW Far West,5.0,157.0,5.0
416,Barley produced (t),1990,NSW North West Slopes and Plains,66.0,39.0,66.0
552,Barley produced (t),1990,NSW Riverina,35.0,34.0,35.0
...,...,...,...,...,...,...
138592,Barley produced (t),2022,NSW Coastal,1.0,173.0,1.0
138728,Barley produced (t),2022,NSW Far West,114.0,38.0,114.0
138864,Barley produced (t),2022,NSW North West Slopes and Plains,570.0,20.0,570.0
139000,Barley produced (t),2022,NSW Riverina,353.0,24.0,353.0
139136,Barley produced (t),2022,NSW Tablelands (Northern Central and Southern),9.0,74.0,9.0

/var/folders/ly/fm0kkb6x1b91l8mnvhcy7kg00000gn/T/ipykernel_88915/3771514738.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hours_worked.loc[:, 'Imputed value'] = hours_imputed
/var/folders/ly/fm0kkb6x1b91l8mnvhcy7kg00000gn/T/ipykernel_88915/3771514738.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hours_worked['Imputed value'] = hours_worked['Imputed value'].round(1)

,Variable,Year,ABARES region,Value,RSE,Imputed value
54,Hours worked on farm - total (hrsperwk),1990,NSW Central West,NaN,NaN,91.5
190,Hours worked on farm - total (hrsperwk),1990,NSW Coastal,NaN,NaN,91.5
326,Hours worked on farm - total (hrsperwk),1990,NSW Far West,NaN,NaN,91.5
462,Hours worked on farm - total (hrsperwk),1990,NSW North West Slopes and Plains,NaN,NaN,91.5
598,Hours worked on farm - total (hrsperwk),1990,NSW Riverina,NaN,NaN,91.5
...,...,...,...,...,...,...
138638,Hours worked on farm - total (hrsperwk),2022,NSW Coastal,70.0,13.0,70.0
138774,Hours worked on farm - total (hrsperwk),2022,NSW Far West,135.0,11.0,135.0
138910,Hours worked on farm - total (hrsperwk),2022,NSW North West Slopes and Plains,113.0,7.0,113.0
139046,Hours worked on farm - total (hrsperwk),2022,NSW Riverina,97.0,6.0,97.0
139182,Hours worked on farm - total (hrsperwk),2022,NSW Tablelands (Northern Central and Southern),79.0,7.0,79.0

In [5]:
hoursvsbarley = barley.merge(hours_worked, how= "inner", left_on=['Year', 'ABARES region'], right_on=['Year', 'ABARES region'])
hoursvsbarley

,Variable_x,Year,ABARES region,Value_x,RSE_x,Imputed value_x,Variable_y,Value_y,RSE_y,Imputed value_y
0,Barley produced (t),1990,NSW Central West,37.0,49.0,37.0,Hours worked on farm - total (hrsperwk),NaN,NaN,91.5
1,Barley produced (t),1990,NSW Coastal,0.0,NaN,0.0,Hours worked on farm - total (hrsperwk),NaN,NaN,91.5
2,Barley produced (t),1990,NSW Far West,5.0,157.0,5.0,Hours worked on farm - total (hrsperwk),NaN,NaN,91.5
3,Barley produced (t),1990,NSW North West Slopes and Plains,66.0,39.0,66.0,Hours worked on farm - total (hrsperwk),NaN,NaN,91.5
4,Barley produced (t),1990,NSW Riverina,35.0,34.0,35.0,Hours worked on farm - total (hrsperwk),NaN,NaN,91.5
...,...,...,...,...,...,...,...,...,...,...
193,Barley produced (t),2022,NSW Coastal,1.0,173.0,1.0,Hours worked on farm - total (hrsperwk),70.0,13.0,70.0
194,Barley produced (t),2022,NSW Far West,114.0,38.0,114.0,Hours worked on farm - total (hrsperwk),135.0,11.0,135.0
195,Barley produced (t),2022,NSW North West Slopes and Plains,570.0,20.0,570.0,Hours worked on farm - total (hrsperwk),113.0,7.0,113.0
196,Barley produced (t),2022,NSW Riverina,353.0,24.0,353.0,Hours worked on farm - total (hrsperwk),97.0,6.0,97.0
197,Barley produced (t),2022,NSW Tablelands (Northern Central and Southern),9.0,74.0,9.0,Hours worked on farm - total (hrsperwk),79.0,7.0,79.0

In [6]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

/var/folders/ly/fm0kkb6x1b91l8mnvhcy7kg00000gn/T/ipykernel_88915/2358614273.py:6: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
/var/folders/ly/fm0kkb6x1b91l8mnvhcy7kg00000gn/T/ipykernel_88915/2358614273.py:7: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [7]:
anti = pivoted.dropna()

In [8]:
print(type(barley['ABARES region'].unique().tolist()))
options = barley['ABARES region'].unique().tolist()

<class 'list'>

In [9]:
from dash import Dash, html, dcc, callback, Output, Input
import plotly.express as px
import pandas as pd


app = Dash(__name__, external_stylesheets=['style'])

app.layout = html.Div([
    html.H1(children='Progression of Barley yield from 1990 to 2022', style={'textAlign':'center'}),
    dcc.Dropdown(options = options, value= 'NSW Central West', id='dropdown-selection'),
    dcc.Graph(id='years-vs-barley'),
    html.H1(children='Effects of amount of work on corn production', style={'textAlign':'center'}),
    dcc.Graph(id = 'work-vs-yield'),
    dcc.Dropdown(options=['QL','TAS', 'WA', 'VIC','SA','NSW'], value='NSW', id='state-dropdown'),
])

@callback(
    Output('graph-content', 'figure'),
    Input('dropdown-selection', 'value')
)
def update_graph(value):
    dff = barley.loc[barley['ABARES region'] == value]
    return px.line(dff, x='Year', y='Imputed value')

@callback(
    Output('work-vs-yield', 'figure'),
    Input('state-dropdown', 'value')
    
    )

def update_graph2(value):
    filtered = anti[(anti['ABARES region'].str.contains(value))]
    return px.scatter(filtered, 'Hours worked on farm - total (hrsperwk)', 'Barley produced (t)', color = filtered.index.get_level_values('ABARES region'), size = 'Area operated at 30 June (ha)')

if __name__ == '__main__':
    app.run_server(debug=True, port = 8053)

Dash is running on http://127.0.0.1:8053/

 * Serving Flask app '__main__'
 * Debug mode: on

Traceback (most recent call last):
  File "/Users/tinas/Library/Python/3.10/lib/python/site-packages/ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "/Users/tinas/Library/Python/3.10/lib/python/site-packages/traitlets/config/application.py", line 975, in launch_instance
    app.initialize(argv)
  File "/Users/tinas/Library/Python/3.10/lib/python/site-packages/traitlets/config/application.py", line 110, in inner
    return method(app, *args, **kwargs)
  File "/Users/tinas/Library/Python/3.10/lib/python/site-packages/ipykernel/kernelapp.py", line 666, in initialize
    self.init_sockets()
  File "/Users/tinas/Library/Python/3.10/lib/python/site-packages/ipykernel/kernelapp.py", line 307, in init_sockets
    self.shell_port = self._bind_socket(self.shell_socket, self.shell_port)
  File "/Users/tinas/Library/Python/3.10/lib/python/site-packages/ipykernel/kernelapp.py", line 244, in _bind_socket
    return self._try_bind_socket(s, port)
  File "/Users/tinas/Library/Python/3.10/lib/python/site-packages/ipykernel/kernelapp.py", line 220, in _try_bind_socket
    s.bind("tcp://%s:%i" % (self.ip, port))
  File "/Users/tinas/Library/Python/3.10/lib/python/site-packages/zmq/sugar/socket.py", line 230, in bind
    super().bind(addr)
  File "zmq/backend/cython/socket.pyx", line 562, in zmq.backend.cython.socket.Socket.bind
  File "zmq/backend/cython/checkrc.pxd", line 28, in zmq.backend.cython.checkrc._check_rc
zmq.error.ZMQError: Address already in use

SystemExit: 1

/Users/tinas/Library/Python/3.10/lib/python/site-packages/IPython/core/interactiveshell.py:3406: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
%tb

SystemExit: 1

In [ ]:
print(pd.unique(barley['ABARES region']))

['NSW Central West' 'NSW Coastal' 'NSW Far West'
 'NSW North West Slopes and Plains' 'NSW Riverina'
 'NSW Tablelands (Northern Central and Southern)']